.calendar {
  padding: 1rem 3rem;
  &__header {
    width: 50%;
  }
  &__ui-body {
    width: 60%;
    float: left;
  }
  &__events-body {
    width: 30%;
    margin-left: 2rem;
    float: left;
  }
}